.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.video {
    width: 100px;
}

.logo-video {
    width: 100%;
    border-radius: 30%;
    object-fit: cover;
  }

.login-HEADING {
    font-size: 4em;
    font-weight: 700;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;
    align-items: center;
    text-align: center;
    gap: 30px;
    min-width: 570px;
    min-height: 450px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-label {
    font-size: 1.4em;
}

.login-input {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 300px;
    min-height: 40px;
    border-radius: 3px;
    background-color: white;
    font-size: 1.2em;
    border: none;
}

.login-btn {
    font-size: 1.8em;
    min-width: 200px;
    min-height: 50px;
    border: none;
    color: whitesmoke;
    background-color: black;
}

.login-btn:hover {
    background-color: orangered;
    cursor: pointer;
    color: whitesmoke;
    padding: 4px;
}

.outer-message {
    font-size: 1.2em;
}

.to-register-click {
    color: orangered;
}

.to-register-click:hover {
    color: orangered;
    cursor: pointer;
}